.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  background-color: rgb(228, 228, 228);
  padding: 24px 40px;
  margin: auto;
}

.listContainer {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-items: center;
  gap: 16px;
  padding: 0px;
  margin-top: 32px;
}